.body {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 40px;
}

.navbar div {
  background-color: #5a2424;
  color: white;
}

.navbar div .navbar-brand {
  color: white;
}

.navbar div .navbar-brand:hover {
  color: white;
}

.navbar div .collapse {
  color: white;
}

.navbar div .collapse .navbar-nav {
  color: white;
}

.navbar div .collapse .navbar-nav .nav-item {
  color: white;
}

.navbar div .collapse .navbar-nav .nav-item .nav-link {
  color: white;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 5px;
  background-color: #5a2424;
  color: white;
  padding: 10px;
  max-height: 40px;
}

.footer p {
  text-align: center;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inicio section {
  margin: 10px;
  border-radius: 5px;
  border: solid 1px #464646;
  -webkit-box-shadow: 7px 6px 20px -1px rgba(87, 83, 83, 0.548);
          box-shadow: 7px 6px 20px -1px rgba(87, 83, 83, 0.548);
  height: 320px;
}

.inicio section a {
  text-decoration: none;
  color: black;
}

.inicio section a img {
  height: 270px;
  width: 100%;
  border-top-radius: 10px;
}

.inicio section a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inicio section a div h3 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.combosHamburguesas {
  padding: 10px;
}

.combosHamburguesas .titulo {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(90, 36, 36, 0.596);
}

.combosHamburguesas div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.combosHamburguesas div .h3Yp {
  display: block;
}

.combosHamburguesas div .h3Yp h3 {
  padding: 10px;
  font-size: 18px;
}

.combosHamburguesas div .h3Yp p {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.combosHamburguesas div .h3Yp .precio {
  font-size: 15px;
}

.combosHamburguesas div img {
  width: 120px;
  height: 90px;
  border-radius: 10px;
  padding: 5px;
}

.adicionales {
  padding: 10px;
}

.adicionales .ad {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: rgba(90, 36, 36, 0.596);
}

.adicionales div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.adicionales div p {
  font-size: 18px;
}

.bebidas section {
  padding: 10px;
}

.bebidas section h3 {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(90, 36, 36, 0.596);
}

.bebidas section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bebidas section div h4 {
  font-size: 18px;
  padding-left: 10px;
}

.bebidas section div img {
  width: 60px;
  height: 60px;
}

.bebidas section div .aq {
  width: 150px;
}

.bebidas section div .agua {
  width: 40px;
}
