.body {
  background-color: rgba(15, 15, 15, 0.966);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 170px;
}

.header .navbar {
  background-color: rgba(90, 36, 36, 0.596);
}

.header .navbar .container-fluid {
  color: white;
}

.header .navbar .container-fluid .navbar-brand {
  color: white;
}

.header .navbar .container-fluid .navbar-toggler {
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.39);
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 5px;
  background-color: rgba(90, 36, 36, 0.596);
  color: white;
  padding: 10px;
  text-align: center;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer div p {
  font-size: 17px;
}

.footer div .div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer div .div2 p {
  padding-right: 10px;
  font-size: 17px;
}

.footer div .div2 .svg {
  width: 20px;
}

.footer .contactocris {
  text-align: center;
  font-size: 15px;
}

.footer .contactocris a {
  text-decoration: none;
  color: wheat;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inicio section {
  width: 400px;
  margin: 10px;
  border-radius: 5px;
  border: solid 1px #464646;
  -webkit-box-shadow: 7px 6px 20px -1px rgba(87, 83, 83, 0.548);
          box-shadow: 7px 6px 20px -1px rgba(87, 83, 83, 0.548);
  height: 320px;
}

.inicio section a {
  text-decoration: none;
  color: white;
}

.inicio section a img {
  height: 270px;
  width: 100%;
  border-top-radius: 10px;
}

.inicio section a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inicio section a div h3 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.combosHamburguesas {
  padding: 10px;
}

.combosHamburguesas .titulo {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(90, 36, 36, 0.596);
}

.combosHamburguesas div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.combosHamburguesas div .h3Yp {
  display: block;
}

.combosHamburguesas div .h3Yp h3 {
  padding: 10px;
  font-size: 18px;
}

.combosHamburguesas div .h3Yp p {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.combosHamburguesas div .h3Yp .precio {
  font-size: 15px;
}

.combosHamburguesas div img {
  width: 120px;
  height: 90px;
  border-radius: 10px;
  padding: 5px;
}

.adicionales {
  padding: 10px;
}

.adicionales .ad {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: rgba(90, 36, 36, 0.596);
}

.adicionales div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.adicionales div p {
  font-size: 18px;
}

.sanguches section {
  padding: 10px;
}

.sanguches section h3 {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(90, 36, 36, 0.596);
}

.sanguches section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sanguches section div .hYp {
  padding: 10px;
  display: block;
}

.sanguches section div .hYp h4 {
  font-size: 18px;
}

.sanguches section div .hYp p {
  font-size: 15px;
}

.sanguches section div div {
  padding-right: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
}

.sanguches section div div p {
  margin: 5px;
  font-size: 15px;
}

.papas section {
  padding: 10px;
}

.papas section h3 {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(90, 36, 36, 0.596);
}

.papas section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.papas section div .hYp {
  padding: 10px;
  display: block;
}

.papas section div .hYp h4 {
  font-size: 18px;
}

.papas section div .hYp p {
  font-size: 15px;
}

.papas section div div {
  padding-right: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
}

.papas section div div p {
  margin: 5px;
  font-size: 15px;
}

.ensaladas section {
  padding: 10px;
}

.ensaladas section h3 {
  padding: 10px;
  font-size: 20px;
  background-color: rgba(90, 36, 36, 0.596);
}

.ensaladas section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ensaladas section div .hYp {
  padding: 10px;
  display: block;
}

.ensaladas section div .hYp h4 {
  font-size: 18px;
}

.ensaladas section div .hYp p {
  font-size: 15px;
}

.ensaladas section div div {
  padding-right: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
}

.ensaladas section div div p {
  margin: 5px;
  font-size: 15px;
}

.panaderia section {
  padding: 10px;
}

.panaderia section h3 {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(90, 36, 36, 0.596);
}

.panaderia section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panaderia section div .hYp {
  padding: 10px;
  display: block;
}

.panaderia section div .hYp h4 {
  font-size: 18px;
}

.panaderia section div .hYp p {
  font-size: 15px;
}

.panaderia section div div {
  padding-right: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
}

.panaderia section div div p {
  text-align: center;
  margin: 5px;
  font-size: 15px;
}

.cervezas section {
  padding: 10px;
}

.cervezas section h3 {
  padding: 10px;
  font-size: 18px;
  background-color: rgba(90, 36, 36, 0.596);
}

.cervezas section .tirada {
  padding: 10px;
  font-size: 18px;
  background-color: rgba(15, 15, 15, 0);
}

.cervezas section .hh {
  text-align: center;
  background-color: wheat;
  color: black;
}

.cervezas section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cervezas section div .h4Yp {
  display: block;
}

.cervezas section div .h4Yp h4 {
  font-size: 18px;
  padding-left: 10px;
  margin-top: 10px;
}

.cervezas section div .h4Yp p {
  font-size: 13px;
  padding-left: 10px;
}

.cervezas section div h4 {
  font-size: 18px;
  padding-left: 10px;
  margin-top: 10px;
}

.bebidas section {
  padding: 10px;
}

.bebidas section h3 {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: rgba(90, 36, 36, 0.596);
}

.bebidas section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.bebidas section div h4 {
  font-size: 18px;
  padding-left: 10px;
}

.tragos section {
  padding: 10px;
}

.tragos section h3 {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: rgba(90, 36, 36, 0.596);
}

.tragos section div {
  border-bottom: solid #ececec 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tragos section div .trg {
  display: block;
}

.tragos section div .trg h4 {
  font-size: 18px;
  padding-left: 10px;
  margin-top: 10px;
}

.tragos section div .trg p {
  font-size: 13px;
  padding-left: 10px;
}

.tragos section div .precio {
  padding-right: 10px;
  font-size: 15px;
}

<<<<<<< HEAD
.divwp {
  display: none;
}

.divwp a {
  position: fixed;
  bottom: 165px;
=======
.divwp a {
  position: fixed;
  bottom: 150px;
>>>>>>> 4285b30dd6e834ccbe04e7419bd6fdcb02359867
  right: 10px;
  cursor: pointer;
}

.divwp a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.divwp a .svg2 {
  width: 55px;
}

@media (min-width: 992px) {
  .div.wp {
    width: 55px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
  }
  .div.wp:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
