.bebidas{
    section{
        padding: 10px;
        h3{
            padding: 10px;
            font-size: 20px;
            background-color: rgba(90, 36, 36, 0.596);

        }
        div{
            border-bottom: solid rgb(236, 236, 236) 1px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                font-size: 18px;
                padding-left: 10px;
            }
            img{
                width: 60px;
                height: 60px;
            }
            .aq{
                width: 150px;
            }
            .agua{
                width: 40px;
            }
        }
    }
}