.bebidas{
    section{
        padding: 10px;
        h3{
            margin-top: 10px;
            padding: 10px;
            font-size: 18px;
            background-color: rgba(90, 36, 36, 0.596);
        }
        div{
            border-bottom: solid rgb(236, 236, 236) 1px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 10px;
            h4{
                font-size: 18px;
                padding-left: 10px;
            }
        }
    }
}