.divwp{
    a{
        position: fixed;
        bottom: 150px;
        right: 10px;
        cursor: pointer;
        &:active{
            transform: scale(0.9);
        }
        .svg2{
            width: 55px;
        }
    }
}

@media (min-width:992px){
    .div.wp{
        width: 55px;
        position: fixed;
        bottom: 70px;
        right: 20px;
        cursor: pointer;
        &:active{
            transform: scale(0.9);
        }
    }    
}