.cervezas{
    section{
        padding: 10px;
        h3{
            margin-top: 10px;
            padding: 10px;
            font-size: 18px;
            background-color: rgba(90, 36, 36, 0.596);
        }
        .tirada{
            padding: 10px;
            font-size: 18px;
            background-color: rgba(15, 15, 15, 0);
        }
        .hh{
            text-align: center;
            background-color: wheat;
            color: black;
        }
        div{
            border-bottom: solid rgb(236, 236, 236) 1px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .h4Yp{
                display: block;
                h4{
                    font-size: 18px;
                    padding-left: 10px;
                    margin-top: 10px;
                }
                p{
                    font-size: 13px;
                    padding-left: 10px;
                }
            }
            h4{
                font-size: 18px;
                padding-left: 10px;
                margin-top: 10px;
            }
        }
    }
}