.ensaladas{
    section{
        padding: 10px;
        h3{
            margin-top: 10px;
            padding: 10px;
            font-size: 20px;
            background-color: rgba(90, 36, 36, 0.596);
        }
        div{
            border-bottom: solid rgb(236, 236, 236) 1px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .hYp{
                padding: 10px;
                display: block;
                h4{
                    font-size:18px;
                }
                p{
                    font-size: 15px;
                }
            }
            div{
                padding-right: 10px;
                justify-content: space-evenly;
                border: none;
                p{
                    margin: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}