.footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-top: 5px;
    background-color: rgba(90, 36, 36, 0.596);
    color: white;
    padding: 10px;
    text-align: center;
    div{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        p{
            font-size: 17px;
        }
        .div2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            p{
                padding-right: 10px ;
                font-size: 17px;
            }
            .svg{
                width: 20px;
            }
        }
    }
    .contactocris{
        text-align: center;
        font-size: 15px;
        a{
            text-decoration: none;
            color: wheat;
        }
    }
}