.footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-top: 5px;
    background-color: rgba(90, 36, 36, 0.596);
    color: white;
    padding: 10px;
    max-height: 40px;
    p{
        text-align: center;
    }
}