.footer{
    width: 100%;
    bottom: 0;
    margin-top: 5px;
    background-color: rgb(90, 36, 36);
    color: white;
    padding: 10px;
    max-height: 40px;
    p{
        text-align: center;
    }
}