.combosHamburguesas{
    div{
        border-top: solid rgb(158, 158, 158) 1px;
        border-bottom: solid rgb(158, 158, 158) 1px;
        margin: 5px;
        h3{
            font-size: 20px;
            padding: 5px;
        }
        p{
            font-size: 15px;
            padding: 5px;
        }
    }
}