.combosHamburguesas{
    div{
        border-bottom: solid rgb(236, 236, 236) 1px;
        display: flex;
        justify-content: space-between;
        max-height: 200px;
        .h3Yp{
            display: block;
            h3{
                padding-top: 5px;
                padding-left: 10px;
                font-size: 20px;
            }
            p{
                padding-top: 5px;
                padding-left: 10px;
                font-size: 15px;
            }
            .precio{
                font-size: 15px;
            }
        }
        img{
            width: 150px;
            border-radius: 15px;
            padding: 10px;
        }
    }
}
.adicionales{
    .ad{
        padding: 5px;
        font-size: 20px;
        text-align: center;
        background-color: rgba(90, 36, 36, 0.596);
    }
    div{
        display: flex;
        justify-content: space-evenly;
        p{
            font-size: 20px;
        }
    }
}