.combosHamburguesas{
    padding: 20px;
    .titulo{
        padding: 10px;
        font-size: 20px;
        background-color: rgba(90, 36, 36, 0.596);
    }
    div{
        border-bottom: solid rgb(236, 236, 236) 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .h3Yp{
            display: block;
            h3{
                padding: 10px;
                font-size: 18px;
            }
            p{
                padding-top: 5px;
                padding-left: 10px;
                font-size: 15px;
            }
            .precio{
                font-size: 15px;
            }
        }
        img{
            width: 120px;
            height: 90px;
            border-radius: 10px;
            padding: 5px;
        }
    }
}
.adicionales{
    padding: 10px;
    .ad{
        padding: 5px;
        font-size: 18px;
        text-align: center;
        background-color: rgba(90, 36, 36, 0.596);
    }
    div{
        display: flex;
        justify-content: space-evenly;
        p{
            font-size: 18px;
        }
    }
}
