.header{
    .navbar{
        color: white;
        div{
            background-color: rgba(90, 36, 36, 0.596);
            color: white;
            .navbar-brand{
                color: white;
                &:hover{
                    color: white;
                }
            }
            button{
                color: white;
            }
            .collapse{
                color: white;
                background-color: rgba(90, 36, 36, 0.137);
                .navbar-nav{
                    color: white;
                    .nav-item{
                        color: white;
                        .nav-link{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
