.header{
    position: fixed;
    top:0px;
    width: 100%;
    .navbar{
        div{
            background-color: rgb(90, 36, 36);
            color: white;
            .navbar-brand{
                color: white;
                &:hover{
                    color: white;
                }
            }
            .collapse{
                color: white;
                .navbar-nav{
                    color: white;
                    .nav-item{
                        color: white;
                        .nav-link{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
