.header{
    .navbar{
        background-color: rgba(90, 36, 36, 0.596);
        .container-fluid{
            color:white;
            .navbar-brand{
                color: white;
            }
            .navbar-toggler{
                color: white;
                border: solid 1px rgba(255, 255, 255, 0.39);
            }
        }
    }
}