.inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    section{
        width: 400px;
        margin: 10px;
        border-radius: 5px;
        border: solid 1px rgb(70, 70, 70);
        box-shadow: 7px 6px 20px -1px rgba(87, 83, 83, 0.548);
        height: 320px;
        a{
            text-decoration: none;
            color: white;
            img{
                height: 270px;
                width:100%;
                border-top-radius: 10px;
            }
            div{
                display: flex;
                justify-content: space-between;
                h3{
                    text-align: center;
                    padding: 10px;
                    font-size: 20px;
                }   
            }
        }
    }
}
