.inicio{
    padding: 10px;
    section{
        padding: 5px;
        margin: 10px;
        border-radius: 10px;
        border: solid 1px rgb(70, 70, 70);
        box-shadow: 7px 6px 20px -1px rgba(87, 83, 83, 0.548); 
        h3{
            padding-left: 10px;
            font-size: 18px;
        }
        img{
            width: 350px;
            border-radius: 10px;
            padding: 5px;
        }
    }
}