.inicio{
    padding: 10px;
    section{
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        border: solid 1px ;
        h3{
            font-size: 18px;
        }
    }
}