.body{
    font-family:'Times New Roman', Times, serif;
    position: relative;
    min-height: 95vh;
    padding-bottom: 40px;
}

@import "_header.scss";
@import "_footer.scss";
@import "_inicio.scss";
@import "_hamburguesas.scss";
@import "_bebidas.scss";



